body {
    margin: 0;
}

h1 {
    margin: 0;
}

.top-container {
    background-color: #E4F9F5;
    width: 200px;
    height: 200px;
}

.middle-container {
    background-color: #7ee87a;
    width: 200px;
    height: 200px;
}

.bottom-container {
    background-color: #4591ed;
    width: 200px;
    height: 200px;
}